.font_1 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
}
.font_2 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    color: rgba(0,0,0,0.54);
}
.social_box {
	border-bottom: 1px rgba(0,0,0,0.12) solid;
    /*float: left;*/
    min-height: 72px;
    padding: 16px 100px;
    width: 100%;
    display: block;
    /*clear: both;*/
}
.font_1:hover{
    color: lightblue;
    transition-property: all;
    transition-duration: 0.25s;
    transition-delay: 0.05s;
}
.logo {
	width: 32px;
	height: 32px;
	display: inline-block;
}
.box_font{
	display: inline-block;
}
.image {
    padding-top: 30px
}
.main_card {
    width: 640px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.54);
}
.referals {
    background-color: white;
}
body {
    background-image: url(../image/image_gvino.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}