.font_1 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
}
.font_2 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    color: rgba(0,0,0,0.54);
}
/*.fb {
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    min-height: 72px;
    float: left;
    width: 640px;
    padding: 16px 100px;
}
.instagram {
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    min-height: 72px;
    float: left;
    width: 640px;
    padding: 16px 100px;
}
.Web {
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    float: left;
    min-height: 72px;
    padding: 16px 100px;
    width: 640px;
}*/

.social_box {
	border-bottom: 1px rgba(0,0,0,0.12) solid;
    /*float: left;*/
    min-height: 72px;
    padding: 16px 100px;
    width: 100%;
    display: block;
    /*clear: both;*/
}

.logo {
	width: 32px;
	height: 32px;
	display: inline-block;
}
.box_font{
	display: inline-block;
}
.image {
    padding-top: 30px
}
.main_card {
    width: 640px;
    margin: 0 auto;
}