.font_1 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
}
.font_2 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    color: rgba(0,0,0,0.54);
}
.social_box {
	border-bottom: 1px rgba(0,0,0,0.12) solid;
    min-height: 100px;
    padding: 40px 100px;
    width: 100%;
    display: block;
}
.font_1:hover{
    color: lightblue;
    transition-property: all;
    transition-duration: 0.25s;
    transition-delay: 0.05s;
}
.logo {
	width: 40px;
	height: 40px;
	display: inline-block;
}
.box_font{
	display: inline-block;
}
.main_card {
    width: 640px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    

    

}
.referals {
    background-color: white;
}
 .background-image {
    position: absolute;
    background-image: url(../image/image_gvino.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px);
} 


  